* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #ffffff;
}

/*HEADER*/
header {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
}
#header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -4px;
  position: fixed;
  background-color: #F55E25;
  width: 100%;
  z-index: 12;
  height: 15vh;
}

#img-logo {
  width: 141px;
  height: 104px;
  margin-left: 32px;
}

#menu ul {
  display: flex;
  gap: 45px;
  list-style: none;

  margin-right: 30px;
}

#menu ul li a {
  color: #192AA8;
  text-decoration: none;
  font-family: "Black Ops One", cursive;
  font-size: 20px;
}

#text-img-header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 53px;
  border: solid blue;
}

#text-img-header #imagens-header {
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#text-img-header #imagens-header img {
  width: 19.9%;
}

@keyframes animacao {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: -400%;
  }
}
/*MAIN*/
#container-one {
  display: flex;
  margin-top: 11px;
}

#container-one-text {
  width: 50%;
  margin-left: 20px;
  margin-top: 25px;
}
#container-one-text p,
#container-second-text p {
  font-size: 20px;
}

#container-one-text button {
  margin-top: 10px;
  margin-bottom: 27px;
  cursor: pointer;
}

#container-second-text {
  width: 50%;
  margin-left: 35px;
  margin-top: 25px;
  text-align: inherit;
  padding-right: 67px;
}

#container-second-text p {
  font-size: 19px;
  margin-top: 107px;
}

#container-second-graphic {
  margin-top: 102px;
  margin-left: 58px;
}
#paragraph-graphic {
  margin-right: 34px;
  margin-top: 30px;
  width: 63%;
  letter-spacing: 2px;
}
#estatistica-titulo-img {
  display: flex;
  height: 60vh;
  margin-top: 30px;
  background-color: #F55E25;
}

#estatistica-titulo-img h3 {
  margin-top: 88px;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}
.photo-obj-ods img {
  width: 30%;
  height: 30%;
}

.photo-obj-ods:target {
  position: fixed;
  width: 50%;
  top: 15px;
  left: 25%;
}

.text {
  position: relative;
  z-index: 10;
  color: #065fd4;
  display: grid;
  place-items: center;
  margin-bottom: -635px;
  width: 70%;
  margin-left: 77px;
  text-align: center;
  padding-top: 190px;
}
h1 {
  font-family: "Black Ops One", cursive;
  font-size: 150px;
}

h2 {
  font-family: "Sedgwick Ave", cursive;
  font-size: 57px;
}

#Projeto,
#estatística,
#Solucao,
#empregabilidade,
#sobre {
  background-color: #000000;
  padding-left: 11px;
  height: 27vh;
  padding-top: 121px;
  text-align: center;
  color: blue;
  margin-bottom: 39px;
}

.botao {
  border: solid 1px blue;
  border-radius: 20px;
  height: 44px;
  width: 150px;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  padding: 7px;
  margin-left: 243px;
}
.botao:hover {
  background-color: blue;
  color: white;
  transform: scale(1.2);
}

#container-second {
  display: flex;
  margin-top: 400px;
  align-items: center;
  justify-content: space-around;
  height: 60%;
}

.itens li {
  margin-left: 40px;
  font-size: 20px;
  margin-bottom: 6px;
}

.itens li:hover span,
#subtitulo-itens:hover span {
  color: blue;
  cursor: context-menu;
}
#subtitulo-itens {
  font-size: 31px;
  margin-bottom: 8px;
}

#video {
  margin-top: 46px;
  margin-left: 16px;
}

#img-solucao {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
#img-solucao img:hover {
  background-color: #ffffff;
  border-radius: 100%;
  padding: 7px;
}

.photos-solucoes img {
  width: 79px;
  height: 83px;
}
.photos-solucoes {
  margin-top: 15px;
  padding-bottom: 29px;
  text-align: center;
}

h5 {
  font-size: 17px;
}

/*EMPREGA-NOS*/
#empregar {
  display: flex;
  flex-direction: column;
}
#img-empregar {
  width: 100%;
  height: 121%;
  margin-top: -21px;
  padding-top: 51px;
}
#empregar-texto {
  padding-top: 10px;
  background-color: #e5e4e5;
  color: black;
}
#empregar-texto p {
  font-size: 33px;
  margin-left: 52px;
}
#botao-empregar {
  margin-top: 22px;
  width: 24%;
  height: 11vh;
  margin-left: 39%;
  margin-bottom: 25px;
  border: solid;
  font-size: 27px;
}

/*SOBRE-MIM*/
#sobre-mim {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#sobre-mim-foto {
  width: 30%;
}
#sobre-mim-texto {
  width: 52%;
  font-family: cursive;
  font-size: 21px;
}

/*FOOTER*/

footer {
  background-color: #F55E25;
  color: #000000;
}
#footer-logo {
  margin-left: 40%;
}
#redes-creditos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Rede-Social p,
#creditos-site p {
  margin-bottom: 12px;
  font-family: cursive;
}

#Rede-Social {
  margin-left: 5px;
}

footer img {
  width: 20%;
  height: 20%;
}

#os-creditos {
  display: flex;
  font-family: cursive;
  margin-right: 20px;
}
#os-creditos a {
  color: #000000;
  text-decoration: none;
}

#autoria {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

/*#photos {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    background-color: black;
    overflow: hidden;
    color: aliceblue;
    border: solid 10px;
    text-align: center;
  }
  .text-header {
    padding-top: 56px;
  }
  #photos #img-header {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
  #img-header img {
    width: 19.9%;
  }
  
  @keyframes animacao {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    95% {
      margin-left: -300%;
    }
    100% {
      margin-left: -400%;
    }
  }*/

  @media screen and (min-width: 360px ) and (max-width: 480px){
        body{
          display: block;
        }
        #menu{
          visibility: hidden;
        }
        #text-img-header, #imagens-header{
          display: none;
        }
        header{
          background-image: url(./img/pexels-dagerotip-18048178.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
        h1{
          font-size: 2em;
          border: solid;
          background-color: wheat;
          opacity: 0.7;
          margin-left: -13%;
          margin-right: -2%;
          padding: 5% 0%;
        }
        h2{
          font-size: 2em;
          width: 86%;
        }

        #header-menu,#container-one, #estatistica-titulo-img,
        #container-second {
          display: block;
        }
        #video iframe{
          width: 93%;
        }
        #header-menu {
          position: sticky;
          background-color: #F55E25;
          width: 100%;
          z-index: 12;
          height: 9vh;
        }

      #container-second-graphic img {
        width: 90%;
        margin-top: 520px;
      }
      #img-logo {
        margin-left: 39%;
        margin-right: 39%;
        padding: 2% 0%;
        margin-top: -5%;
        margin-bottom: -7%;
        
      }

      #Projeto, #estatística, #Solucao, #empregabilidade, #sobre {
        background-color: #000000;
        height: 27vh;
        padding-top: 11%;
        text-align: center;
        color: blue;
        margin-bottom: -26%;
      }

      #container-one-text {
        width: 100%;
        text-align: center;
        margin-left: 0%;
      }
      #container-one-text p{
        font-size: 1.5rem;
        padding-bottom: 25px;
      }

      .botao {
       
        margin-left: 0px;
   }
   .itens li {
    margin-left: 40px;
    font-size: 1em;
    margin-bottom: 11px;
    text-align: initial;
   }
   #video {
    margin-top: 82px;
    margin-left: 16px;
   }

   #estatistica-titulo-img h3 {
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding-top: 23px;
    padding-left: 5%;
    padding-right: 5%;
  }
  #estatistica-titulo-img {
     height: 68vh;
    margin-top: 30px;
    background-color: #F55E25;
   }
   #container-second-text {
    width: 100%;
    margin-top: -371px;
    text-align: inherit;
   }
   #container-second-text p {
    font-size: 1.3rem;
    margin-top: -241px;
    width: 100%;
    z-index: 9;
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
  }
  #img-solucao {
    display: block;
    margin-top: 510px;
  }
  .proposta-h2{
    margin-top: 411px;
  }
  #paragraph-graphic {
    width: 100%;
  }

  #empregar-texto p {
    font-size: 1rem;
    margin-left: 52px;
  }
  #img-empregar {
    margin-top: 3px;
    
}
#sobre-mim {
  display: block;
  padding-top: 39px;
  padding-bottom: 17px;
  width: 100%;
}
#sobre-mim-texto {
  font-size: 1rem;
  padding-right: 31px;
  padding-left: 31px;
  padding-bottom: 20px;
  width: 100%;
}

footer {
  height: 30%;
}


#redes-creditos {
  display: block;
}

#Rede-Social {
  margin-left: 13px;
  margin-bottom: 0px;
}


  footer img {
    width: 23%;
    height: 27%;
}

#footer-logo {
  margin-left: 40%;
}

.imf-foorter{
  
    width: 35px;
    height: 36px;
}

#sobre-mim-foto {
   margin-left: 132px;
  margin-right: 132px;

}
  }

